.linkWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(24, 48, 50, 0.15);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 12px 15px 16px;
    margin-bottom: 24px;

    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .img {
        cursor: pointer;
        position: relative;
        top: 0;
        right: 0;
        img {
            width: 18px;
            height: 20px;
        }
    }
}

.body {
    padding-bottom: 200px !important;

    .sidebarFooter {
        position: relative !important;
        padding: 20px 0 20px !important;
    }
}

