.filtersHeaderWrapper .filtersHeaderContainer .employeeBtn:hover {
  cursor: pointer;
  background-color: #23474e;
}

.filtersHeaderWrapper .filtersHeaderContainer .employeeBtn {
  background-color: #2C5C5F;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
}

.page {
  background-color: #F0F4F5;
  min-height: 100vh;
}

.header {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  padding-top: 34px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.label {
  font-size: 14px;
  line-height: 135%;
  color: rgba(24, 48, 50, 0.5);
  margin-bottom: 7px !important;
}

.formList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.formList .item {
  margin-bottom: 24px;
}

.formList .sidebar-footer {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.formList .sidebar-footer .btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
}

.formList .sidebar-footer .btns-container button {
  margin-right: 16px;
}

.formList .sidebar-footer .btns-container button:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .formList .sidebar-footer {
    position: relative;
    bottom: auto;
    padding: 0;
  }
  .formList .sidebar-footer .btns-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formList .sidebar-footer .newPasswordButton {
    padding: 15px 27px;
    margin-bottom: 12px !important;
  }
  .formList .sidebar-footer .deleteEmployee {
    padding: 15px 27px;
  }
}

@media screen and (max-width: 320px) {
  .formList .sidebar-table-footer {
    margin-bottom: -3rem;
  }
}

.pagItem, .activePagItem, .arrowBtn {
  border: 1px solid transparent;
  border-radius: 99px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  color: rgba(24, 48, 50, 0.5);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  padding-bottom: 4rem;
  width: 100%;
}

.pagination .back {
  margin-right: 8px;
}

.pagination .fourth {
  margin-left: 8px;
}

.pagItem:hover {
  color: #2C5C5F;
}

.activePagItem {
  background: #2C5C5F;
  color: #FFFFFF;
}

.activePagItem:hover {
  color: #FFFFFF;
}

.arrowBtn {
  background-color: #DCE5E6;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.filtersHeaderWrapper {
  background-color: #FFFFFF;
  padding-top: 2rem;
}

.filtersHeaderWrapper .filtersHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer .filterHeader {
  vertical-align: text-bottom;
  color: rgba(24, 48, 50, 0.5);
  font-weight: 500;
  font-size: 32px;
}

.filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer .filterHeaderActive {
  vertical-align: text-bottom;
  color: #2E3E3F;
  font-weight: 500;
  font-size: 32px;
}

.filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer .filterHeader:nth-child(2), .filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer .filterHeaderActive:nth-child(2) {
  margin-left: 24px;
}

.filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer .filterHeader:hover, .filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer .filterHeaderActive:hover {
  cursor: pointer;
}

.filtersHeaderWrapper .filtersHeaderContainer .employeeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  max-height: 48px;
  padding: 15px 24px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 135%;
}

.filtersHeaderWrapper .filtersHeaderContainer .mobileButtonsContainer {
  display: none;
}

.searchBar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  padding-bottom: 2rem;
}

.searchBar .searchBarInput {
  margin-right: 23px;
}

@media screen and (max-width: 767px) {
  .searchBar {
    display: none;
  }
  .filtersHeaderWrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .filtersHeaderWrapper .filtersHeaderContainer {
    margin-bottom: 0;
  }
  .filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer .filterHeader, .filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer .filterHeaderActive {
    font-size: 24px;
  }
  .filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer .filterHeader:nth-child(2), .filtersHeaderWrapper .filtersHeaderContainer .filterHeaderContainer .filterHeaderActive:nth-child(2) {
    margin-left: 12px;
  }
  .filtersHeaderWrapper .filtersHeaderContainer .createApplicationBtn {
    display: none;
  }
  .filtersHeaderWrapper .filtersHeaderContainer .mobileButtonsContainer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .filtersHeaderWrapper .filtersHeaderContainer .mobileButtonsContainer .findButton {
    margin-right: 12px;
  }
  .snowMore {
    display: none;
  }
}

.tableContentWrapper {
  width: 100%;
  height: 100%;
  background-color: #F0F4F5;
}

.tableContentWrapper .tableHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
}

.tableContentWrapper .tableHeader .pagginationPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tableContentWrapper .tableHeader .pagginationPanel .item {
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tableContentWrapper .tableHeader .pagginationPanel .item span {
  font-size: 14px;
  color: rgba(24, 48, 50, 0.5);
}

.tableContentWrapper .tableHeader .sortFiltersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hideSortPlaceholder {
  display: block;
}

@media screen and (max-width: 767px) {
  .hideSortPlaceholder {
    display: none;
  }
  .tableContentWrapper {
    width: 100%;
    height: 100%;
    background-color: #F0F4F5;
  }
  .tableContentWrapper .tableHeader .pagginationPanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    padding-left: 16px !important;
  }
  .tableContentWrapper .tableHeader .pagginationPanel .item {
    margin-left: 0;
  }
  .tableContentWrapper .tableHeader .pagginationPanel .item span {
    font-size: 14px;
    color: rgba(24, 48, 50, 0.5);
  }
  .tableContentWrapper .tableHeader .sortFiltersContainer {
    padding-right: 16px !important;
  }
}

.Row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Row .item {
  width: 25%;
  padding-left: 24px;
  margin-bottom: 24px;
}

.Row .item:first-child {
  padding-left: 0;
}

.Row .firstItem {
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .Row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Row .item {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
  }
  .Row .item:first-child {
    padding-left: 16px;
  }
}

.scrollbar {
  width: 100% !important;
  height: 100vh !important;
}

.CircularProgressbar-text {
  font-weight: 500;
}

.sidebar-button:first-child {
  margin-right: 8px !important;
}

.sidebar-button:last-child {
  margin-left: 8px !important;
}

@media screen and (max-width: 767px) {
  .sidebar-button:first-child, .sidebar-button:last-child {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .scrollbar {
    height: auto !important;
  }
}

.loaderWrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.loaderWrapperTop {
  height: 100vh;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/*# sourceMappingURL=common.css.map */