@import '../../../../../styles/variables.scss';
@import '../../../../../styles/abstractClasses.scss';

.cardWrapper {
  background-color: $color-bg-white;
  padding: 16px;
  border-radius: 4px;
  min-width: $kanbanCardWidth!important;
  max-width: $kanbanCardWidth !important;
  box-shadow: 2px 2px 2px $color-bg-grey;
  margin-bottom: 8px;

  .clientInfoWrapper {
    padding-bottom: 12px;
    border-bottom: 1px solid $color-bg-grey;
    min-height: 60px;

    .name {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 4px;
    }

    .service {
      font-size: 14px;
      color: $default-input-font-color;
    }
  }



  .CardFooter {
    height: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 12px;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .avatarContainer {
            display: flex;

            .name {
              font-size: 14px;
              display: flex;
              align-items: center;
            }

          }

          .timeWrapper {
            display: flex;
            align-items: center;
            .time {
              font-size: 12px;
              color: $default-input-font-color;
            }
          }
    }

  }

  .CardFooterFirstContact {
    height: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 12px;

    .footerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // padding-top: 12px;

        .button {
            @extend %defaultBtn;
            border-radius: 4px;
            font-size: 14px;
            padding: 8.5px 16px;
            cursor: pointer !important;

            &:hover {
                @extend %defaultBtnHover;
            }
        }

        .timeWrapper {
          display: flex;
          align-items: center;

          .time {
            font-size: 12px;
            color: $default-input-font-color;
          }
        }
    }
  }
}



