@import '../../../../../../styles/variables.scss';

.rowWrapper {
    padding: 0 20px;
}

.rowOnlineWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px 20px;
}

@media screen and (max-width: $mobile-max-width-limit) {
    .rowOnlineWrapper {
        grid-template-columns: 1fr 1fr 1fru;
    }
}